body{
    /*margin: 0 auto;*/
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif
}

.content{
    margin-left: auto;
    margin-right: auto;
}
.topBar{
    background-color: rgb(0, 68, 255);

    margin-bottom: 15px;
    
}
.barContent{
    padding-top:15px;
    font-size:25px;
    padding-bottom: 15px;
    
}
.CM{
    margin-right:180px;  
    color:white;
    padding-left: 10px;
    
}
.buttons{
    background-color:rgb(0, 152, 253);
    border: 1.5px solid white;
    color: white;
    font-size:20px;
    border-radius: 4px;
    padding-top:8px;
    padding-bottom:8px;
    padding: 8px;
}

.buttonDeactive{
    background-color:rgb(0, 152, 253);
    border: 1.5px solid white;
    color: white;
    font-size:20px;
    border-radius: 4px;
    padding-top:8px;
    padding-bottom:8px;
    padding: 8px;
}

.buttonActive{
    background-color:rgb(0, 152, 253);
    border: 1.5px solid gray;
    color: gray;
    font-size:20px;
    border-radius: 4px;
    padding-top:8px;
    padding-bottom:8px;
    padding: 8px;
}
.targetArea{
    margin: auto;

}

.contactList{
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    font-weight: bold;
    font-size: 20px;
    /* border-top: 1.5px solid lightgrey;  */
    /* border-bottom: 1px solid lightgrey; */
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.wrapper {
    align-content: center;
    justify-items: center;
}
.topBorder {
        padding: 10px;
        border-top: 1.5px solid lightgrey; 

}
tr {
    border-spacing: 10px;
    border-bottom: 1px solid lightgrey;
    border-bottom:  1.5px solid lightgrey;
}

table { 
    border-spacing: 10px;

    border-collapse: collapse; 
}
.num{
    float:left;
    width: 50px;
    margin: auto;
    padding-left: 10px;

    
}

.Name{
    float: left;
    width: 150px;
}

.Email{
    float: left;
    width: 250px;
}

.rowDiv{
    display: inline-block;
    /* border-top: 1px solid lightgrey; */
    /*border-bottom: 1px solid lightgrey;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.numSpan{
    float:left;
    width: 50px;
    margin: auto;
    padding-top: 3px;
    padding-left: 10px;
    font-weight: bold;
    
}

.nameSpan{
    float: left;
    width: 150px;
    padding-top: 3px;
}

.emailSpan{
    float: left;
    width: 250px;
    padding-top: 3px;
}

.phoneSpan{
    float: left;
    width: 140px;
    padding-top: 3px;
}

.ipButtonSpan{

    float:left;
   /* width: 250px;*/
    height: 100%;
    display: inline-block;
    padding-left: 1px;

    
}

.ipDetailsBtn{
    margin-right: 4px;
    border: 1.5px solid rgb(0, 152, 253);
    /*border: 1.5px solid rgb(0, 173, 253);*/
    color: rgb(0, 152, 253);
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
}

.ipEditBtn, .editBtn{
    margin-right: 4px;
    border: 1.5px solid rgb(247, 187, 60);
    color: rgb(247, 187, 60);
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
}

.ipDeleteBtn, .deleteBtn{
    margin-right: 2px;
    border: 1.5px solid rgba(255, 33, 33, 0.692);
    color: rgba(255, 33, 33, 0.692);
    background-color: white;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
}

.newContact, #cHeadingDiv{
    background-color: rgba(211, 211, 211, 0.288);
    padding: 5px 5px;
    margin-top: 8px;
    border: 1.5px solid lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 30%;
}

.formLabels{
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
}

#nameForm, #emailForm, #phoneForm, .cNameInputField, .cEmailInputField, .cPhoneInputField{
    margin-left: 25px;
    width: 760px;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid lightgray
}

.forms, .eContent{
    border: 1.5px solid lightgray;
    border-top-width: 0px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
}
.fieldWidth {
    width: 50%;
}
.subBtn, .cSubmitBtn{
    border: 1.5px solid rgb(1, 133, 1);
    color: white;
    background-color: rgb(1, 133, 1);
    border-radius: 4px;
    padding: 8px 10px;
    font-size: 16px;
}

.values{
    color:white;
    background-color: rgb(0, 152, 253);
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 2px 5px;
    font-size: 16px;
}

.labels{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
}

.dContent{
    border: 1.5px solid lightgray;
    border-top-width: 0px;
    padding: 20px 0px


    
}

.dBtns{
    background-color: rgba(211, 211, 211, 0.288);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 690px;
    border: 1.5px solid lightgray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px;

}



.indexBtn, .nextBtn {
    border-Color: 'lightgray';
    color: 'lightgray';

}


.navBarWrapper {
    position: fixed;
      z-index: 1;
      width: 100%;
  
  }
  .topnav {
      background-color:blue;
      overflow: hidden;
      height: 8.02%;
      display: flex;
      align-items: center;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a, i {
      color: grey;
      padding: 7px 8px;
      text-decoration: none;
      font-size: 17px;
      display: inline-block;
      vertical-align: middle;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active{
      color: white;
    }
    i.icon-white {
      color: white;
  }
    .topnav p {
      color:black;
      font-size: 1em;
    }
  
  .contactContainer{
    padding:100px;
  }
    .navBarWrapper {
      position: fixed;
      z-index: 1;
      width: 100%;
    }
  
  .form {
    padding-top: 100px;
  }
  .mytextwithicon {
    position:relative;
  }    
  .mytextwithicon:before {
    content: "\f054";  /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: FontAwesome;
    left:-5px;
    position:absolute;
    top:0;
  }

  .allContent {

  }

  .belowBarContent {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .barContent {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;

  }

  .barButtons {
    display: flex;
    justify-content: space-between;


  }

  .createForm {
    min-width: 50%;

  }

  form {
      width: 100%;
  }

  .centerButtons {
      justify-content: center;
  }